/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

#wrapper {
	margin: 0px;
	background: #C0C0C0 url(images/img01.jpg) repeat-x left top;
	text-align: justify;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	font-style: italic;
	color: #7D807A;
}

h1, h2, h3 {
	color: #AA2808;
}

h1 {
}

h2 {
}

h3 {
}

p, blockquote, ul, ol {
	margin-bottom: 20px;
	line-height: 2em;
}

p {
}

blockquote {
}

ul, ol, li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

a {
	text-decoration: underline;
	color: #E14949;
}

a:hover {
	text-decoration: none;
	color: #C11414;
}

/* Header */

#header {
	width: 1000px;
	height: 130px;
	margin: 0 auto;
	background: url(images/img02.jpg) no-repeat left top;
}

/* banner */

#banner {
	float: left;
	width: 100%;
	height: 70px;
	margin: 0px;
	padding-left: 30px;
	text-align: center;
}

#banner h1 {
	margin: 0;
	padding: 0px 0px 0px 10px;
	text-transform: lowercase;
	font: normal 46px Georgia, "Times New Roman", Times, serif;
	text-align: left;
}

#banner h2 {
	margin: 2px;
	padding: 5px;
	text-transform: lowercase;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	color: #FFFFFF;
	text-align: left;
}

#banner a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	width: 1000px;
	height: 60px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	background: url(images/img03.jpg) no-repeat left top;
}

#menu ul {
	margin: 0px;
	padding-left: 30px;
	padding-top: 6px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
	text-align: center;
}

#menu a {
	height: 23px;
	display: block;
	float: left;
	margin: 0px 2px 0px 0px;
	padding: 3px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	color: #FFFFFF;
}

#menu a:hover, #menu .active a {
	background: url(images/img08.jpg) repeat-x left top;
	color: #FFFFFF;
}

/* Search */

#header-search {
	width: 940px;
	height: 51px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

#header-search form {
	float: right;
	width: 300px;
	margin: 0;
	padding: 12px 0px 0px 0px;
}

#header-search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#header-search-text {
	width: 200px;
	padding: 2px 3px;
	background: #1E1E1E;
	border: none;
	color: #4D4D4D;
}

#header-search-submit {
	background: none;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #E4E4E4;
}

#search {
	height: 51px;
	margin: 0 auto;
	padding: 0px 0px 60px 0px;
}

#search form {
	margin: 0;
	padding: 12px 0px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	font: 12px Arial, Helvetica, sans-serif;
}

#search-text {
	width: 160px;
	height: 18px;
	margin-left: 50px;
	padding: 3px 0 3px 5px;
	border: 1px solid #999999;
	color: #000000;
}

#search-submit {
	margin-left: 10px;
	padding: 4px 4px;
	border: none;
	background: #C11212;
	font-size: 10px;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 1000px;
	margin: 0 auto;
	padding: 0px 0px;
	background: url(images/img04.jpg) repeat-y left top;
}

#page-bgtop {
	margin: 0px;
	padding: 0px 60px;
	background: url(images/img06.jpg) no-repeat left top;
}

/* mainContent */

#mainContent {
	float: left;
	width: 540px;
	padding-top: 30px;
	padding-right: 40px;
}

.post {
	background: url(images/img04.gif) repeat-x left bottom;
	margin: 0px 0px 30px 0px;
	border-bottom: 1px solid #CFCAB8;
}

.post .title {
	margin: 0px;
	color: #BF0B0B;
}

.post .title a {
	padding: 0px 0px 0px 0px;
	letter-spacing: -1px;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 28px;
	font-weight: normal;
	font-style: italic;
	color: #BF0B0B;
}

.post .entry {
	padding: 20px 0px;
}

.post img {
	float: left;
	padding: 15px 0px;
}

.post .meta {
	text-align: right;
	padding: 0px 0 20px 0;
	font-weight: bold;
	color: #202020;
}

.post .byline {
	font-size: 12px;
	font-style: italic;
	text-transform: lowercase;
	color: #7D807A;
}

/* Sidebar */

#sideContent {
	float: right;
	width: 300px;
	padding: 100px 0px 0px 0px;
}

#sideContent ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sideContent li {
	margin-bottom: 1px;
}

#sideContent li ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 40px 50px;
}

#sideContent li li {
	margin: 0;
	padding: 7px 0px;
	border-bottom: 1px solid #998D62;
	background: none;
}

#sideContent h2 {
	height: 35px;
	margin: 0px;
	padding: 10px 0px 10px 50px;
	background: url(images/img07.jpg) no-repeat left top;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
	color: #524B36;
}

#sideContent h3 {
	font-size: 77%;
	color: #110404;
}

#sideContent p {
	margin: 0;
	line-height: normal;
	color: #4E4628;
}

#sideContent a {
	border: none;
	text-decoration: none;
	color: #4E4628;
}

#sideContent a:hover {
	text-decoration: underline;
}

/* Submenu */

#submenu {
}

/* News */

#news {
}

#news a {
	font-size: 85%;
}

/* Footer */

#footer {
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	padding: 0px;
	background: url(images/img05.jpg) no-repeat left top;
	color: #9C9C9C;
}

#footer p {
	margin: 0;
	padding: 60px 40px;
	text-align: left;
	font-size: 11px;
}

#footer a {
	text-decoration: underline;
	color: #808080;
}

#footer a:hover {
	text-decoration: none;
}