 body, html { height: 100%; margin: 0px; }

.gwtapps-TemplateButtonsPanel img{
	padding-right: 0px;
	padding-left: 0px;
	opacity:0.50;
}

.gwtapps-TemplateButtonsPanel img:hover{
	opacity:1;
}

.gwtapps-TemplateButtonsPanel td {
	/*padding-left:5px;*/
	padding-right:5px;
}

.gwtapps-SelectedTemplateButton img{
	opacity:1;
	border:2px;
}


.gwtapps-WidgetButtonsPanel td {
	/*padding-left:5px;*/
	padding-right:10px;
}

.gwtapps-AppSmallButtonSize{
	width: 16px;
	height: 16px;
}

.gwtapps-MenuWidget-MouseOver{
	border: 2px solid red;
}

.gwtapps-BannerWidget-MouseOver{
	border: 2px solid red;
}

.gwtapps-TitleWidget {
	margin-top: 5px;
}

.gwtapps-TextWidget {
	margin-top: 5px;
}

.gwtapps-ImageTextWidget {
	overflow: hidden;
	width: 100%;
	margin-top: 5px;
}

.gwtapps-ImageTextWidgetImage {
	margin: 5px 5px 5px 5px;
}

.gwtapps-ImageTextWidget img{
	display: block;
}

.gwtapps-VideoTextWidget {
	overflow: hidden;
	width: 100%;
	margin-top: 5px;
}

.gwtapps-VideoTextWidgetVideo{
	margin-right: 5px;
	margin-left: 5px;
}





.floatLeft{
	float:left;
}

.floatRight{
	float:right;
}

.floatCenter{
	top: 50%;
	left: 50%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

.gwtapps-GadgetContainerTitleBar td { padding:2px; margin: 2px 4px 2px 2px; }
.gwtapps-GadgetContainerEditPanel{background-color:#e5e5e5;}
.gwtapps-GadgetContainerBody {border: 2px solid #e5e5e5;}
.gwtapps-GadgetContainer .gwtapps-RoundedPanel-inside{ padding: 2px;  }
.gwtapps-GadgetContainerPanel .gwtapps-RoundedPanel-inside{ padding:2px; background-color: red;}
.gwtapps-GadgetContainerTitle{ font-size: 25px; color: #36393D; }


.dragdrop-positioner {
	border: 2px dashed green; /*#1E90FF; /* blue */
	margin: 0px !important;
	zoom: 1; /* IE gain hasLayout */
	z-index: 100;
	background-color: #FFFF88;
}

.gwtapps-DropWidgetsHereEnglish {
	margin: 7px 7px 7px 7px;
	padding: 2px 2px 2px 2px;
	border: 2px dashed gray;
	background: url("./booixeditor/server/images/misc/dropWidgetsHere.png") no-repeat;
	background-position:center; 
}

.gwtapps-DropWidgetsHereSpanish {
	margin: 7px 7px 7px 7px;
	padding: 2px 2px 2px 2px;
	border: 2px dashed gray;
	background: url("./booixeditor/server/images/misc/agregaWidgetsAca.png") no-repeat;
	background-position:center; 
}

.gwtapps-ContainerSpacer{
	text-align: center;
	vertical-align: middle;
	/*background-color: blue;*/
	min-height: 200px;
	overflow:auto ;
}

/*.gwt-MenuBar table{
	float:right;
}*/

