
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

#wrapper {
	margin: 0;
	padding: 0;
	background: #1B3266;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #787878;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #181818;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #1757AB;
}

a:hover {
}

#inner-wrapper {
	margin: 0 auto;
	padding: 0;
	background: url(images/img05.jpg) repeat-x left top;
}

/* Header */

#header {
	width: 1000px;
	height: 100px;
	margin: 0 auto;
}

/* Logo */

#banner {
	float: left;
	height: 50px;
	margin: 0;
	padding: 50px 0px 0px 20px;
	color: #FFFFFF;
}

#banner h1, #banner h2 {
	margin: 0;
	padding: 0;
}

#banner h1 {
	float: left;
	padding-left: 25px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 2.6em;
}

#banner h2 {
	float: left;
	margin: 0;
	padding: 12px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
} 

#banner a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	float: right;
	width: 279px;
	height: 110px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 50px 0 0 30px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 195px;
	padding: 6px 10px;
	border: 1px #0E689A solid;
	background: none;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #57ACF7;
}

#search-submit {
	display: none;
}

/* Menu */

#menu {
	width: 1000px;
	height: 54px;
	margin: 0 auto;
	padding: 0;
	background: url(images/img01.jpg) no-repeat left top;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 48px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 28px;
	margin-right: 3px;
	padding: 26px 30px 0px 0px;
	background: url(images/img06.jpg) no-repeat right 10px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
}

#menu .current_page_item a {
	padding-left: 0;
}

#menu a:hover {
	text-decoration: underline;
}

/* Page */

#page {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	background: url(images/img02.jpg) repeat-y left top;
}

#page-bgbtm {
	margin: 0px;
	padding: 30px;
	background: url(images/img03.jpg) no-repeat left bottom;
}

/* Content */

#mainContent {
	float: left;
	width: 600px;
	padding: 0px 20px;
}

.post {
}

.post .title {
	height: 38px;
	letter-spacing: -.5px;
	color: #1757AB;
}

.post .title a {
	color: #1757AB;
	border: none;
}

.post .meta {
	margin-top: -10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #C9D9E8;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 20px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	height: 30px;
	padding: 2px 0px 0px 0px;
	background: url(images/img04.jpg) no-repeat left top;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Sidebar */

#sideContent {
	float: right;
	width: 270px;
	padding: 10px 0px 0px 0px;
	color: #57ACF7;
}

#sideContent ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sideContent li {
	margin: 0;
	padding: 0;
}

#sideContent li ul {
	margin: 0px 15px;
	padding-bottom: 30px;
}

#sideContent li li {
	line-height: 35px;
	border-bottom: 1px solid #0E689A;
}

#sideContent li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sideContent h2 {
	height: 38px;
	padding: 12px 0 0 15px;
	letter-spacing: -.5px;
	color: #FFFFFF;
}

#sideContent p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sideContent a {
	border: none;
	color: #57ACF7;
}

#sideContent a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer-wrapper {
	width: 100%;
	background: #1B3266;
}

#footer {
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 40px;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	color: #70AEFF;
}

#footer a {
	color: #1F84FF;
}